<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="utf-8">
    <title>Ultra Political Tournament | Connectez-vous dès maintenant pour jouer !</title>
    <link rel="stylesheet" href="{{ asset('assets/css/ie.css') }}">
    <link rel="stylesheet" href="{{ asset('assets/css/print.css') }}">
    <link rel="stylesheet" href="{{ asset('assets/css/screen.css') }}">
    <link rel="stylesheet" href="{{ asset('assets/css/perso.css') }}">
    <link rel="stylesheet" href="{{ asset('assets/css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="{{ asset('assets/js/jquery-3.0.0.min.js')}}"></script>
    <script src="{{ asset('assets/js/master.js')}}"></script>
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
</head>
<body>

{% block body %}{% endblock %}
{% block scripts %}{% endblock %}
</body>
</html>
