{% extends 'AppBundle::base_jeu.html.twig' %}

{% block body %}
    {% include 'AppBundle::Default/header.html.twig' with {'user': user.userPrenom } %}

    <div class="jeu">



        <div class="tapis">
            <a href="nouvellepartie.html" class="lien_gauche"><</a>
            <a href="historique.html" class="lien_droit">></a>

            <div class="pages">
                <h2>Mes parties en cours</h2>
                <hr>
                {% for partie in user.parties %}

                    {% for partie in partie if partie.partieDateFin == NULL and partie.tournois == NULL %}
                        <p><a href="{{ path('afficher_partie', {'id':partie.id} ) }}" > Aller à la partie {{ partie.id }} avec {% if user.id == partie.joueur1.id %} {{ partie.joueur2.username }} en tant que joueur 1 {% if partie.partieTourJoueur == 1 %}<strong>Cest mon tour</strong> {% endif %} {% elseif user.id == partie.joueur2.id %} {{ partie.joueur1.username }} en tant que joueur 2 {% if partie.partieTourJoueur == 2 %}<strong>Cest mon tour</strong> {% endif %} {% endif %} </a></p>
                    {% endfor %}
                {% else %}
                    <p>Aucune partie en cours. <a href="{{ path('joueur_partie_add') }}">Créer une partie</a></p>
                {% endfor %}
            </div>

        </div>
        {% include 'AppBundle::Default/image_plateau.html.twig'%}
    </div>


{% endblock %}