{% extends 'AppBundle::base_jeu.html.twig' %}

{% block body %}


<div class="overlay"></div>

<a href="{{ path('joueur_partie') }}"><button type="button" name="button" id="bouton_accueil">Quitter la partie</button></a>

<div class="temporaire">

</div>

<div class="jeu">
    <div class="parametres"></div>


    <div class="tapis">

        <div class="nom nom_ennemi">{{ variablePartie.adversaire.username }} {% if variablePartie.montour == false %} (*){% endif %}</div>
        <div class="nom nom_joueur">{{ variablePartie.me.username }} {% if variablePartie.montour == true %} (*) {% endif %}</div>


        <img id="tasse" src="{{ asset('assets/img/tasse.png')}}" alt="">


        <div class="score_ennemi">
            <img src="{{ asset('assets/img/score_top.png')}}" alt="">
            <p>{{ variablePartie.adversaireScore }}</p>
        </div>


        <div class="cartes">

        {% if variablePartie.adversaireTerrain %}
            <div class="conteneur_drop_ennemi">
            {% for key, cartesTerrain in variablePartie.adversaireTerrain %}

                    <div class="drop_ennemi">
                    {% for carte in cartesTerrain %}


                        {#{{ loop.index }}#}
                           {% if loop.last %}
                                {% for key, carte in carte|slice(0, 1) %}

                                      {#point du terrain : {{ carte }}#}
                                      <div class="min_score_ennemi">
                                            <img src="{{ asset('assets/img/score_top.png')}}" alt="">
                                            <p>{{ carte }}</p>
                                        </div>
                                {% endfor %}
                           {% else %}
                            {#<div class="drop_ennemi">#}
                                {% for key, carte in carte|slice(0, 1) %}

                            {#<div class="carte1">#}
                                {% if cartes3[carte].carteExtra == true %}
                                    {#<strong>extra</strong>#}
                                {% else %}
                                    {#<strong>{{ cartes3[carte].carteValeur }}</strong>#}
                                {% endif %}
                                <img class="carte_jouee" src="{{ asset(cartes3[carte].carteImage) }}" alt="" />
                                {#<p>{{ cartes3[carte].carteNom }}</p>#}
                                {#<p>{{ cartes3[carte].carteCategorie.libelle }}</p>#}
                            {#</div>#}
                            {% endfor %}
                            {#</div>#}
                           {% endif %}

                    {% else %}
                        Pas encore de cartes posées
                    {% endfor %}
                    </div>
                {#</div>#}
            {% endfor %}
            </div>
        {% else %}
            <p>Pas encore de cartes posées</p>
        {% endif %}






                {% if variablePartie.partieDefausse %}

             <div class="defausse">
            {% for key, cartesDefausse in variablePartie.partieDefausse %}
                <button >
                {% for carte in cartesDefausse %}

                            {#<img src="{{ asset(cartes3[carte].carteImage) }}" alt="">#}
                            <img src="{{ asset(cartes3[carte].carteImage) }}" alt="" >
                        {% if variablePartie.montour == true %}
                            {% if variablePartie.activePose == false %}
                                <form action="" method="post">
                                    <input type="hidden" name="recupererId" value="{{ cartes3[carte].id }}">
                                    <input type="hidden" name="recupererCategorieId" value="{{ cartes3[carte].carteCategorie.id }}">
                                    <input type="submit" value="recuperer" name="recuperer">
                                </form>
                            {% endif %}
                        {% endif %}


                {% else %}
                    {#{% for carte in cartesDefausse %}#}
                    {#<button><img src="{{ asset(cartes3[carte].carteCategorie.couleur) }}" alt=""></button>#}
                    {#{% endfor %}#}
                    <img src="{{ asset('assets/img/cartes/trump/Trump_Objectif.png')}}" alt="">
                {% endfor %}
                </button>
                {#</div>#}

            {% endfor %}
            </div>

        {% else %}
            <p>Pas encore de cartes posées</p>
        {% endif %}


            {#<p>Mon terrain</p>#}
            {% if variablePartie.monTerrain %}

             <div class="conteneur_drop">
            {% for key, cartesTerrain in variablePartie.monTerrain %}

                        <div class="drop">
                        {% for carte in cartesTerrain %}
                               {#{{ loop.index }}#}


                               {% if loop.last %}
                                    {% for key, carte in carte|slice(0, 1) %}

                                          {#point du terrain : {{ carte }}#}
                                          <div class="min_score_perso">
                                            <img src="{{ asset('assets/img/score_bottom.png')}}" alt="">
                                            <p>{{ carte }}</p>
                                        </div>
                                    {% endfor %}
                               {% else %}

                                    {% for key, carte in carte|slice(0, 1) %}


                                        <img class="carte_jouee" src="{{ asset(cartes3[carte].carteImage) }}" alt="" style="width: 100%;">

                                    {% endfor %}
                               {% endif %}



                        {% else %}
                        {% endfor %}
                        </div>
            {% endfor %}
        </div>
        {% else %}
            {#<p>Pas encore de cartes posées</p>#}
        {% endif %}


            {% if variablePartie.montour == true %}
                {% if variablePartie.activePose == false %}
                    <form action="" method="post">
                        {#<input type="submit" value="Piocher" name="piocher">#}

                        <input type="hidden" name="piocher">
                        <button class="pioche" type="submit" name="piocher">
                            <img src="{{ asset('assets/img/cartes/pioche.png') }}" alt="pioche">
                            <input type="hidden" value="Piocher" name="piocher">
                        </button>
                        <div class="pioche_nombre">
                            <p>{{ variablePartie.carteRestante }}</p>
                        </div>
                    </form>
                {% endif %}

                {% else %}
                    <button class="pioche">
                        <img src="{{ asset('assets/img/cartes/pioche.png') }}" alt="pioche">
                    </button>
                    <div class="pioche_nombre">
                        <p>{{ variablePartie.carteRestante }}</p>
                    </div>
            {% endif %}



        </div>

        <div class="score_perso">
            <img src="{{ asset('assets/img/score_bottom.png') }}" alt="">
            <p>{{ variablePartie.monScore }}</p>
        </div>
    </div>


    <img id="stylos" src="{{ asset('assets/img/stylos.png') }}" alt="">

    <img id="dossier" src="{{ asset('assets/img/dossier.png') }}" alt="">

    <img id="cigares" src="{{ asset('assets/img/cigares.png') }}" alt="">

    <img id="red_button" src="{{ asset('assets/img/boutton.png') }}" alt="">

    <div class="main_ennemi">
        {% for cartesTerrain in variablePartie.adversaireCartes %}
                            <img  src="{{ asset('assets/img/cartes/doscartes.png') }}" alt="dos carte">
                {% endfor %}
    </div>

    <div class="main_joueur">

        {% for carte in variablePartie.mesCartes %}


                    <img class="carte" src="{{ asset(cartes3[carte].carteImage) }}" data-modal="{{ cartes3[carte].id }}">


                    {#{% if variablePartie.montour == true %}#}

                        {#{% if variablePartie.activePose == true %}#}
                            {#<form action="" method="post">#}
                                {#<input type="hidden" name="cartePoserId" value="{{ cartes3[carte].id }}">#}
                                {#<input type="hidden" name="cartePoserValeur" value="{{ cartes3[carte].carteValeur }}">#}
                                {#<input type="hidden" name="cartePoserCategorie" value="{{ cartes3[carte].carteCategorie.id }}">#}
                                {#<input type="hidden" name="cartePoserExtra" value="{{ cartes3[carte].carteExtra }}">#}
                                {#<input type="submit" value="poser" name="poser">#}
                            {#</form>#}
                            {#<form action="" method="post">#}
                                {#<input type="hidden" name="cartePoserId" value="{{ cartes3[carte].id }}">#}
                                {#<input type="hidden" name="cartePoserValeur" value="{{ cartes3[carte].carteValeur }}">#}
                                {#<input type="hidden" name="cartePoserCategorie" value="{{ cartes3[carte].carteCategorie.id }}">#}
                                {#<input type="submit" value="defausser" name="defausser">#}
                            {#</form>#}
                        {#{% endif %}#}


                    {#{% endif %}#}
        {% endfor %}
    </div>


    <div class="chat">
        <div class="bouton_chat">
            <h2>Messagerie</h2><button id="fermeture" type="button">X</button>
        </div>
        <div class="bloc_chat">
            <div class="messages" id="zone-de-chat">



            {% for chat in variablePartie.chat %}

                {% if chat.joueur.id == user.id %}
                    {#<p></p>#}
                    <p class="msg_joueur"><span>{{ chat.joueur.username }}</span> : {{ chat.message }}</p>
                {% else %}
                    {#<p style="color: green">{{ chat.message }}</p>#}
                     <p class="msg_ennemi"><span>{{ chat.joueur.username }}</span> : {{ chat.message }}</p>
                {% endif %}

            {% endfor %}

            </div>
            <div class="formulaire">

              <input type="hidden" name="pseudo" id="idJoueur" value="{{ variablePartie.me.id }}">
              <input type="text" name="text" id="text"  onkeyup="setNotif()" placeholder="Message">
              <input type="hidden" name="envoyer" id="submit">

          </div>
        </div>
    </div>

    {% for carte in variablePartie.mesCartes %}

        <div class="modal" id="popup_jeu" data-modal="{{ cartes3[carte].id }}">
            <button id="fermeture" type="button">X</button>
            <img class="carte" src="{{ asset(cartes3[carte].carteImage) }}" >

            {% if variablePartie.montour == true %}
            {% if variablePartie.activePose == true %}
                <form action="" method="post">
                    <input type="hidden" name="cartePoserId" value="{{ cartes3[carte].id }}">
                    <input type="hidden" name="cartePoserValeur" value="{{ cartes3[carte].carteValeur }}">
                    <input type="hidden" name="cartePoserCategorie" value="{{ cartes3[carte].carteCategorie.id }}">
                    <input type="hidden" name="cartePoserExtra" value="{{ cartes3[carte].carteExtra }}">
                    {#<input >#}
                    <button type="submit" value="poser" name="poser"><div class="button_int">Jouer</div></button>
                </form>
                <form action="" method="post">
                    <input type="hidden" name="cartePoserId" value="{{ cartes3[carte].id }}">
                    <input type="hidden" name="cartePoserValeur" value="{{ cartes3[carte].carteValeur }}">
                    <input type="hidden" name="cartePoserCategorie" value="{{ cartes3[carte].carteCategorie.id }}">
                    {#<input >#}
                    <button type="submit" value="defausser" name="defausser"><div class="button_int">Défausser</div></button>
                </form>
            {% endif %}
            {% endif %}


        </div>

        {% if variablePartie.montour == true %}




        {% endif %}
    {% endfor %}

</div>

{# ma partie #}
<div class="body">




    {#{% for carte in variablePartie.pioche %}#}
        {#{{ carte.carteValeur }},#}
    {#{% endfor %}#}
    {% if variablePartie.partieFin == true %}
        <h1>Partie fini</h1>

        Aller à l'historique des parties pour voir les statistiques de la <a href="{{ path('afficher_partie_historique', {'id':partie.id} ) }}">partie</a> ;)

    {% elseif variablePartie.partieFin == false %}


    <hr>


    <hr>

    <div class="container">

        <h3>defausse</h3>
        {% if variablePartie.partieDefausse %}

            {#{{ dump(variablePartie.partieDefausse) }}#}
            <div class="row" >
            {% for key, cartesDefausse in variablePartie.partieDefausse %}
                {#|{{ key }}|#}
                <div class="col-sm-2" >

                {% for carte in cartesDefausse %}

                    <div class="carte2" style="background-color: {{ cartes3[carte].carteCategorie.couleur }} ">
                        {% if cartes3[carte].carteExtra == true %}
                            <strong>extra</strong>
                        {% else %}
                            <strong>{{ cartes3[carte].carteValeur }}</strong>
                        {% endif %}
                        {#<img class="img-responsive" src="{{ asset(cartes3[carte].carteImage) }}" alt="">#}
                        <p>{{ cartes3[carte].carteNom }}</p>
                        {#<p>{{ cartes3[carte].carteCategorie.libelle }}</p>#}

                        {% if variablePartie.montour == true %}
                            {% if variablePartie.activePose == false %}
                                <form action="" method="post">
                                    <input type="hidden" name="recupererId" value="{{ cartes3[carte].id }}">
                                    <input type="hidden" name="recupererCategorieId" value="{{ cartes3[carte].carteCategorie.id }}">
                                    <input type="submit" value="recuperer" name="recuperer">
                                </form>
                            {% endif %}
                        {% endif %}
                    </div>

                {% else %}
                    Pas encore de cartes posées
                {% endfor %}

                </div>

            {% endfor %}
            </div>

        {% else %}
            <p>Pas encore de cartes posées</p>
        {% endif %}

    </div>

    <hr>


    <hr>

    <div>
        <h3 class="text-center">mes cartes</h3>

        {% if variablePartie.montour == true %}
            {% if variablePartie.activePose == false %}
                <form action="" method="post">
                    <input type="submit" value="Piocher" name="piocher">
                </form>
            {% endif %}
        {% endif %}

        <div class="row">
        {% for carte in variablePartie.mesCartes %}
            <div class="col-sm-2">
                <div class="cartes2">
                    {% if cartes3[carte].carteExtra == true %}
                        <strong>extra</strong>
                    {% else %}
                        <strong>{{ cartes3[carte].carteValeur }}</strong>
                    {% endif %}
                    {#<img class="img-responsive" src="{{ asset(cartes3[carte].carteImage) }}" alt="">#}
                    <p>{{ cartes3[carte].carteNom }}</p>
                    {#<p>{{ carte.carteLibelle }}</p>#}


                    {% if variablePartie.montour == true %}

                        {% if variablePartie.activePose == true %}
                            <form action="" method="post">
                                <input type="hidden" name="cartePoserId" value="{{ cartes3[carte].id }}">
                                <input type="hidden" name="cartePoserValeur" value="{{ cartes3[carte].carteValeur }}">
                                <input type="hidden" name="cartePoserCategorie" value="{{ cartes3[carte].carteCategorie.id }}">
                                <input type="hidden" name="cartePoserExtra" value="{{ cartes3[carte].carteExtra }}">
                                <input type="submit" value="poser" name="poser">
                            </form>
                            <form action="" method="post">
                                <input type="hidden" name="cartePoserId" value="{{ cartes3[carte].id }}">
                                <input type="hidden" name="cartePoserValeur" value="{{ cartes3[carte].carteValeur }}">
                                <input type="hidden" name="cartePoserCategorie" value="{{ cartes3[carte].carteCategorie.id }}">
                                <input type="submit" value="defausser" name="defausser">
                            </form>
                        {% endif %}


                    {% endif %}
                </div>
            </div>
        {% endfor %}
        </div>
    </div>
    {% endif %}

</div>
{% endblock %}

{% block scripts %}
    <script>
    {% if variablePartie.montour != true %}
    var montour = false;
    {% else %}
    var montour = true;
    {% endif %}

        if (montour != true ) {
            setInterval(function () {
//                console.log('test');
                $.ajax({

                    url: '{{ path('verif_partie', {'partie': variablePartie.idPartie  }) }}',
                    type: 'POST',

                    success: function (code_html, statut) { // code_html contient le HTML renvoyé

//                        console.log("ajax");
                        if ( code_html.tour == {{ variablePartie.imJoueur }}){

                            window.location.href = "{{ path('afficher_partie', {'id': variablePartie.idPartie }  ) }}";
                        }
                    },
                    error: function (resultat, statut, erreur) {

                        console.log("error");

                    }
                });

            }, 3000);
        }
    </script>

    <script type="text/javascript">

    function wizz(){

            for (var i = 4 - 1; i >= 0; i--) {
                $('.last').animate({ "left": "-=5px" }, 100 );
                $('.last').animate({ "left": "+=5px" }, 100 );
            }

        }

    function setNotif(){

            $('head title').html('Chat instantanné');
            new_message = 0;
        }


        var nb_message = null ;
        var new_message=new Number();
        var nb_1 = 1;
        var auteurScroll;
        var positionScroll;
        var auteurScroll_detect;

            var auto_id = setInterval(
          function ()
          {

//              console.log('etape1');
            $.getJSON('{{ path('get_last_id_chat', {'id':partie.id}) }}', function(result){

//                console.log('etape2');
                $('#zone-de-chat p').removeClass( "last" );

                if (nb_message === null){
                    if (result.last_id === null){
                        nb_message = 0;
                    }else {
                        nb_message = result.last_id;
                    }

                }
                if (nb_message < result.last_id && result.last_id != null) {

//                    console.log('etape3');

                    if(nb_message < result.last_id){
                        nb_message +=1;
                    }

                    new_message += nb_1;

                    // $('#zone-de-chat').load('recup.php');
//                    $('#zone-de-chat').scroll(function(){
//
//                        positionScroll=$('#zone-de-chat').scrollTop();
//                        auteurScroll=$('#zone-de-chat').prop('scrollHeight');
//                        auteurScroll_detect=auteurScroll-550;
//                    });

                    $.getJSON('{{ path('get_chat', {'id':partie.id}) }}', function(result_m){

                    if(result_m.joueurId != {{ user.id }} ){

                        if (result_m.joueurId == 'Serveur') {

                            $('#zone-de-chat').append('<div class="ms"><i>'+result_m.message+'</i> </div>');

                        }else{

                        $('#zone-de-chat').append('<div class="ms"><i>'+result_m.joueur+' :</i> <div class="message"><p class="recep last" style="left: 0px;">'+result_m.message+'</p></div></div>');
//                        $.playSound("son/notification");

                        }

                    }else{


                        $('#zone-de-chat').append('<div class="message_sender"><p class="sender last" style="left: 0px;">'+result_m.message+'</p></div>');
                        setNotif();

                    }

                    });

                    $('#zone-de-chat p').last().addClass( "last" );

//                    if (auteurScroll_detect>positionScroll) {
//
//                    }else{
//                        $('#zone-de-chat').scrollTo('.last');
//                    }


//                    setTimeout(wizz(), 800);

//                    $('head title').html('('+new_message+') Chat instantanné');



                    nb_message = result.last_id
                }

                $('#zone-de-chat p').last().addClass( "last" );



            });

          }, 500);




	</script>
	<script type="text/javascript">
	$(document).ready(function(){
//		$('#text').click(function() {
//
//		$('head title').html('Chat instantanné');
//
//		new_message = 0;
//
//	});
		$('#zone-de-chat').scroll(function(){setNotif()});

	$(function(envoi) {
        $('#submit').click(function() {

        	idJoueur = $("#idJoueur").val();
        	text = $("#text").val();



          $.ajax({



            url: '{{ path('add_chat', {'partie':partie.id}) }}?text='+text,


            success: function(data) {


        		$("#text").val('');

          	},
            error: function() {
              alert('La requête n\'a pas abouti');
          	}
          });
        });
      });


    $('body').keypress(function(event) {

        if(event.keyCode===13) {
            $('#submit').click();
            setNotif();
          }

        });
    });


</script>
{% endblock %}