{% extends 'AppBundle::base.html.twig' %}

{% block body %}
    <h1>Espace joueur: {{ user.userPrenom }}</h1>


    {#<ul>#}
    {#<li><a href="{{ path('joueur_partie') }}">Mes parties</a></li>#}
    {#<li><a href="{{ path('joueur_partie_add') }}">Nouvelle Partie</a></li>#}
    {#<li><a href="{{ path('joueur_partie_historique') }}">Historique de mes parties</a></li>#}
    {#<li><a href="{{ path('joueur_partie_historique') }}">Voir le classement</a></li>#}
    {#</ul>#}
    <div class="container">
    <h2>Les tournois</h2>
    <br>
    <h3>Les tournois seront bientôt disponible</h3>
        <ul>
            <li> <a href="{{ path('afficher_mes_tournois') }}">Voir mes tournois</a> </li>
            <li> <a href="{{ path('creer_tournois') }}">Créer un tournois</a> </li>
            <li> <a href="{{ path('afficher_liste_tournois') }}">Rejoindre un tournois</a> </li>
            <li> <a href="">Historique des tournois</a> </li>
        </ul>




    <a href=""></a>
    {#<h2>{%  if variablePartie.gagnant == true %} <span class="text-success">Partie Gagnée</span> {% elseif variablePartie.gagnant == false %} <span class="text-danger text-white">Partie Perdu</span> {% endif %}</h2>#}


    <a href="{{ path('joueur_homepage') }}"> <button>Retour</button></a>
{% endblock %}